<script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>
<script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
<script src="https://rawgit.com/cytoscape/cytoscape.js-cose-bilkent/master/cytoscape-cose-bilkent.js"></script>

<% edges = Utils.sorted_dup_hash(discussion.point_pattern_graph[:edges]).take(30) %>

<script>
  $(function(){
    var cy = window.cy = cytoscape({
      container: document.getElementById('graph'),
      boxSelectionEnabled: false,
      autounselectify: true,
      layout: {
        name: 'cose-bilkent',
        edgeElasticity: 10,
        idealEdgeLength: 150,
        nodeRepulsion: 1000,
        animate: false,
      },
      style: [
        {
          selector: 'node',
          style: {
            'content': 'data(value)',
            'width': 'data(weight)',
            'height': 'data(weight)',
            'text-valign': 'center',
            'text-halign': 'center',
            'color' : 'black',
            'font-size': '25px',
            'background-color': 'YellowGreen',
            'border-width': 2,
            'border-color': 'SeaGreen'
          },
        },
        {
          selector: 'edge',
          style: {
            'label': 'data(label)',
            'width': 4,
            'font-size': '20px',
            'line-color': '#f2f2f2',
            'target-arrow-color': '#ccc',
            'target-arrow-shape': 'triangle',
            'edge-text-rotation': 'autorotate',
          }
        },
        {
          selector: '[type="verb"]',
          style: {
            'shape': 'diamond',
            'background-color': '#ff884d',
            'border-width': 0,
          }
        }
      ],
      "elements":{"nodes":<%=Utils.sorted_dup_hash(edges.map(&:first).flatten, 0).map { |k, v| { data: { id: k, value: k, weight: (Math.log(v)+1)*50 } } }.to_json.html_safe%>, "edges":<%=edges.map(&:first).map { |s, t| { data: { source: s, target: t, label: "" } } }.to_json.html_safe%>}
    });
  });
</script>
<div id="graph"></div>
