/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-size: 13px;
  font-family: sans-serif;
}

a, a:visited {
  color: CornflowerBlue;
}

a:hover {
  color: DarkBlue;
}

#list li {
  list-style: none;
}

#list ul {
  padding-left: 1em;
}

.extract {
  cursor: help;
}

#comment-col {
  position: fixed;
}

#query {
  width: 100%;
  font-size: 1.3em;
}

p.center {
  text-align: center;
}

mark {
  background-color: Gold;
}

.node text, .group text {
  font: 12px sans-serif;
  pointer-events: none;
}

.pulsate {
    -webkit-animation: pulsate 0.2s ease-out;
    -webkit-animation-iteration-count: 2;
    opacity: 1;
}

@-webkit-keyframes pulsate {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}
