/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Londrina+Solid);
@import url(https://fonts.googleapis.com/css?family=Londrina+Outline);
@import url(https://fonts.googleapis.com/css?family=Nixie+One);

body {
  font-size: 13px;
  font-family: sans-serif;
}

a, a:visited {
  color: CornflowerBlue;
}

a:hover {
  color: DarkBlue;
}

mark {
  background-color: Gold;
}

p.center {
  text-align: center;
}

h1 {
  font-family: "Londrina Solid", monospace;
  font-size: 1.8em;
  margin: 0px;
}

h2, h3, h4 {
  font-family: "Nixie One", monospace;
  font-size: 1.3em;
  margin: 0px;
}
