.navbar {
  background-color: black;
  margin: -8px;
  margin-bottom: 0px;
}

.navbar h1 {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  font-size: 2.2em;
}

.stand {
  font-family: "Londrina Outline", "Londrina Solid", monospace;
}

.point {
  font-family: "Londrina Solid", "Londrina Outline", monospace;
}

.navbar h1 a {
  text-decoration: none;
  color: white;
}
