.pulsate {
    -webkit-animation: pulsate 0.2s ease-out;
    -webkit-animation-iteration-count: 2;
    opacity: 1;
}

@-webkit-keyframes pulsate {
    0% { opacity: 1.0; }
    50% { opacity: 0.3; }
    100% { opacity: 1.0; }
}
