/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
  margin: 0px;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.75em;
  max-width: 1000px;
  width: 100%;
  margin: 20px auto 0px auto;
}

.source {
  margin: 10px 0px;
}

.source .domain {
  color: grey;
}

.source .summary {
  font-weight: bold;
}

body > .comment {
  font-weight: bold;
}

.comment > .comment {
  font-weight: normal;
}

.comment {
  background-color: rgba(0,0,0,0.08);
  padding: 3px 3px 0px 3px;
  margin: 3px 0px 0px 0px;
}

