<div class="row">
  <div class="col-md-6 plain">
    <h3><%= @title %> A</h3>
    <% @summary.split("\n").each do |line| %>
      <p><%= line %></p>
    <% end %>
  </div>

  <div class="col-md-6 plain">
    <h3><%= @title %> B</h3>
    <% @stock_summary.split("\n").each do |line| %>
      <p><%= line %></p>
    <% end %>
  </div>
</div>
