@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css";

body {
  font-family: Verdana, sans-serif;
  font-size: 1em;
}

p {
  margin: 0px;
  margin-bottom: 5px;
}

pre {
  font-size: 1em;
}

#query {
  width: 100%;
}

#submit {
  width: 50%;
  margin: 20px auto;
  display: block;
  cursor: pointer;
}

.well {
  padding: 10px;
}
